**/__pycache__
archive/
back_3d/.env
back_3d/flask_session
back_3d/instance
back_3d/dork

# dependencies
**/node_modules
**/.pnp
**.pnp.js

# testing
**/coverage

# production
**/build

# misc
**.DS_Store
**.env.local
**.env.development.local
**.env.test.local
**.env.production.local

**npm-debug.log*
**yarn-debug.log*
**yarn-error.log*
